<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>
<body>

    <hi>Check Out Our Cupcakes</hi>

    <ul id="cupcakes-list"></ul>

    <h2>Add a New Cupcake</h2>

    <form id="add-new-cupcake-form">
        <div>
            <lable for="'form-flavor">Flavor: </lable>
            <input name="flavor" id="'form-flavor">
        </div>

        <div>
            <label for="form-size"> Size: </label>
            <input name="size" id="form-size">
        </div>

        <div>
            <label for="form-rating">Rating: </label>
            <input name="image id=form-image">
        </div>

        <button>Add Cupcake</button>
    </form>

<script src="https://unpkg.com/jquery"></script>
<script src="https://unpkg.com/acios/dist/axios.js"></script>
<scritp src="/static/cupcakes.js"></scritp>

</body>
</html>